<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecureFortress Ops</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>SecureFortress Ops</h1>
    </header>
    <div class="nav">
        <a href="{{ url_for('cart') }}" class="nav-button">View Cart</a>
    </div>
    <div class="container">
        <h2>Products</h2>
        {% for product_id, product in products.items() %}
        <div class="product-item">
            <h3>{{ product['name'] }}</h3>
            <p>Price: ${{ product['price'] }}</p>
            <a href="{{ url_for('add_to_cart', product_id=product_id) }}" class="button">Add to Cart</a>
        </div>
        {% endfor %}
    </div>
    <div class="special-section">
        <a href="https://github.com/zgco/SFO" target="_blank">View Project Source Code</a>
        <a href="{{ url_for('virtualization') }}">Learn about Virtualization in this Project</a>
    </div>
    <footer class="footer">
        <p>SecureFortress Ops © 2024</p>
    </footer>
</body>
</html>








